.bg {
    --bs-bg-opacity: 1;
    background-color: #f8b8d5;}
  
  .navbar-brand {
        color: white;
    }
  
  .nav-link {
        color: white;
        margin: 0 125px;
    }
  
  .navbar-toggler {
        color: white;
    }
  